@charset "UTF-8";
.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: #383838;
}

.pos-btn {
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 5%;
  padding: 10px 0;
  text-align: center;
  top: 1%;
  left: 0;
}
.pos-btn.share {
  left: 80%;
}

.wrap {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  background: #408120;
}
.wrap-color{
  background: #408120;
}
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.pos-main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  display: none;
}
.pos {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  /* border:1px solid red; */
}

/* index.html */
.btn-rule {
  width: 12%;
  height: 6%;
  top: 6%;
  left: 84%;
  z-index: 9999;
}
.btn-start {
  width: 36%;
  height: 6%;
  top: 80%;
  left: 32%;
}
.btn-colse {
  width: 9%;
  height: 5%;
  top: 18%;
  left: 75%;
}
.btn-tops {
  width: 37%;
  height: 7%;
  top: 86%;
  left: 50%;
}
.btn-rules {
  width: 37%;
  height: 7%;
  top: 86%;
  left: 12%;
}
.btn-know {
  width: 36%;
  height: 6%;
  top: 81%;
  left: 34%;
}
.btn-1 {
  width: 21%;
  height: 13%;
  top: 34%;
  left: 2%;
}
.btn-2 {
  width: 21%;
  height: 5%;
  top: 36%;
  left: 27%;
}
.btn-3 {
  width: 21%;
  height: 5%;
  top: 37%;
  left: 49%;
}
.btn-4 {
  width: 21%;
  height: 12%;
  top: 36%;
  left: 75%;
}
.btn-5 {
  width: 15%;
  height: 5%;
  top: 41%;
  left: 25%;
}
.btn-6 {
  width: 12%;
  height: 7%;
  top: 49%;
  left: 20%;
}
.btn-7 {
  width: 15%;
  height: 8%;
  top: 45%;
  left: 31%;
}
.btn-8 {
  width: 27%;
  height: 10%;
  top: 42%;
  left: 48%;
}
.btn-9 {
  width: 21%;
  height: 11%;
  top: 48%;
  left: 76%;
}
.btn-10 {
  width: 36%;
  height: 6%;
  top: 81%;
  left: 33%;
}
.img-hand {
  width: 17.3%;
  height: auto;
  top: 49%;
  left: 45%;
}
.btn-tips {
  width: 36%;
  height: 6%;
  top: 72%;
  left: 32%;
}
.nums {
  width: 59%;
  height: 7%;
  top: 23%;
  left: 21%;
}
.nums span{
  display: inline-block;
  width: 12%;
  height: 100%;
  font-size: 40px;
  color: #4f2724;
}
.nums .num3 {
  margin-left: 4%;
}
.nums .num5 {
  margin-left: 5%;
}
.nums .num6 {
  width: 11%;
}
.nums .num7 {
  width: 11%;
}
.games {
  width: 92%;
  height: 52%;
  top: 34.8%;
  left: 7.2%;
  overflow: hidden;
}
.games img {
  width: 31%;
  margin: 1px 0px;
}
.btn-success {
  width: 36%;
  height: 6%;
  top: 53%;
  left: 33%;
}

.p-rule {
  width: 76%;
  height: 11%;
  top: 80%;
  left: 12%;
  overflow: auto;
  font-size: 16px;
  font-weight: 600;
  color: #a92024;
  line-height: 22px;
  letter-spacing: 6px;
}
.pos-info {
  width: 59%;
  height: 34%;
  top: 35%;
  left: 20%;
  font-size: 20px;
  text-align: center;
}
.info-title {
  display: inline-block;
  width: 100%;
  margin-top: 20%;
}
.info-img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: -5%;
}
.info-desc {
  display: block;
  font-size: 14px;
  width: 90%;
  margin: 0 5%;
  margin-top: -5%;
}
.btn-info-close {
  width: 11%;
  height: 10%;
  top: 7%;
  left: 82%;
}

.mask,
.mask2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.8) */
}
.mask-bg {
  background: rgba(0, 0, 0, 0.8);
}
.mask-content {
  position: relative;
  width: 100%;
  height: auto;
}
.pos-phone {
  top: 30%;
  height: auto;
}
.pos-phone .btn-submit {
  width: 21%;
  height: 16%;
  top: 74%;
  left: 40%;
}
.pos-phone .ipt-phone {
  width: 63%;
  height: 13%;
  top: 51%;
  left: 19%;
}
.pos-tops {
  width: 70%;
  height: 58%;
  top: 26%;
  left: 15%;
  overflow: auto;
}
.pos-tops .item {
  height: 60px;
  padding: 3px;
  line-height: 60px;
  font-size: 18px;
  border-bottom: 1px solid #dcdcdc;
}
.pos-tops .item .num {
  position: absolute;
  width: 10%;
  text-align: center;
}
.pos-tops .item.one .num {
  background: url('../img/icon_tops1.png') no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
.pos-tops .item.two .num {
  background: url('../img/icon_tops2.png') no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
.pos-tops .item.three .num {
  background: url('../img/icon_tops3.png') no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
.pos-tops .item .ava {
  display: inline-block;
  margin-left: 13%;
  width: 20%;
  height: 60px;
  overflow: hidden;
}
.pos-tops .item.one .ava {
  background: url('../img/icon_1.png') no-repeat center;
  background-size: contain;
}
.pos-tops .item.two .ava {
  background: url('../img/icon_2.png') no-repeat center;
  background-size: contain;
}
.pos-tops .item.three .ava {
  background: url('../img/icon_3.png') no-repeat center;
  background-size: contain;
}
.pos-tops .item.one .ava img,
.pos-tops .item.two .ava img,
.pos-tops .item.three .ava img {
  width: 60%;
  height: auto;
  margin-top: 5%;
  margin-left: 20%;
  border: 0px;
}
/* .pos-tops .item.two .ava img{
  width: 50%;
  height: auto;
  margin-left: 25%;
  border: 0px;
}
.pos-tops .item.three .ava img{
  width: 50%;
  height: auto;
  margin-left: 25%;
  border: 0px;
} */
.pos-tops .item .ava img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #cecece;
}
.pos-tops .item .name {
  display: inline-block;
  padding-left: 2%;
  width: 28%;
  overflow: hidden;
}
.pos-tops .item .min {
  display: inline-block;
  width: 32%;
  overflow: hidden;
}

.ani {
  -webkit-transform-origin: 50% 50%;
  /*linear,ease,ease-in,ease-in-out,ease-out*/
  animation-timing-function: linear;
  -webkit-animation-name: "music-ani";
  /*动画持续时间*/
  -webkit-animation-duration: 1s;
  /*动画延迟时间*/
  -webkit-animation-delay: 0s;
  /*定义循环资料，infinite为无限次*/
  -webkit-animation-iteration-count: infinite;
  /* forwards 固定在最后一帧| backwards 固定在第一帧*/
  -webkit-animation-fill-mode: forwards;
}
.img-hand {
  -webkit-animation-name: "hand-ani";
  -webkit-transform-origin: 90% 90%;
  -webkit-animation-duration: 1s;
}

@keyframes hand-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
