@charset "UTF-8";
.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: #383838;
}

.pos-btn {
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 5%;
  padding: 10px 0;
  text-align: center;
  top: 1%;
  left: 0;
}
.pos-btn.share {
  left: 80%;
}

.wrap {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  background: #a92024;
}
.wrap-color{
  background: #d22a09;
}
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.pos {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  /* border:1px solid red; */
}

/* index.html */
.btn-join {
  width: 54%;
  height: 3.5%;
  top: 48.5%;
  left: 23%;
}
.txt-starttime {
  width: 40%;
  height: auto;
  top: 59.7%;
  left: 52%;
  font-size: 25px;
  font-weight: 600;
  color: #a92024;
  line-height: 40px;
  letter-spacing: 3px;
}
.txt-endtime {
  width: 40%;
  height: auto;
  top: 62.6%;
  left: 52%;
  font-size: 25px;
  font-weight: 600;
  color: #a92024;
  line-height: 40px;
  letter-spacing: 3px;
}
.p-rule {
  width: 76%;
  height: 11%;
  top: 80%;
  left: 12%;
  overflow: auto;
  font-size: 16px;
  font-weight: 600;
  color: #a92024;
  line-height: 22px;
  letter-spacing: 6px;
}
.img-huoguo {
  width: 100%;
  height: auto;
  top: 14%;
}
.img-prbg {
  width: 100%;
  height: auto;
  top: 31%;
}
.img-pr {
  width: 100%;
  height: auto;
  top: 29%;
}
.img-thing1 {
  width: 100%;
  height: auto;
  top: 52%;
}
.img-thing2 {
  width: 100%;
  height: auto;
  top: 65.5%;
}
.img-thing3 {
  width: 100%;
  height: auto;
  top: 71%;
}
.img-thing4 {
  width: 100%;
  height: auto;
  top: 91%;
}
.btn-prize {
  width: 54%;
  height: 3%;
  top: 29%;
  left: 23%;
}
.txt-d,
.txt-h,
.txt-m,
.txt-s {
  width: 10%;
  height: 2%;
  top: 69.1%;
  left: 22%;
  color: #a92024;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.txt-h {
  left: 36%;
}
.txt-m {
  left: 51%;
}
.txt-s {
  left: 66%;
}

/* join.html */
.ipt-receipt {
  width: 40%;
  height: 4%;
  top: 35.3%;
  left: 45%;
  background: transparent;
  font-size: 12px;
  color: #062058;
}
.ipt-store {
  width: 40%;
  height: 4%;
  top: 44.3%;
  left: 45%;
  background: transparent;
  font-size: 12px;
  color: #062058;
}
.ipt-name {
  width: 40%;
  height: 4%;
  top: 53.4%;
  left: 45%;
  background: transparent;
  font-size: 12px;
  color: #062058;
}
.ipt-phone{
  width: 40%;
  height: 4%;
  top: 62.6%;
  left: 45%;
  background: transparent;
  font-size: 12px;
  color: #062058;
}
.ipt-code {
  width: 35%;
  height: 4%;
  top: 71.6%;
  left: 15%;
  background: transparent;
  font-size: 12px;
  text-align: center;
  color: #062058;
}
.btn-send {
  width: 30%;
  height: 5%;
  top: 70.7%;
  left: 58%;
  text-align: center;
  font-size: 16px;
  color: #062058;
  line-height: 2.5;
}
.btn-send img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.btn-submit {
  width: 41%;
  height: 8%;
  top: 79%;
  left: 29%;
}
.p-tips {
  width: 76%;
  height: 11%;
  top: 88%;
  left: 12%;
  overflow: auto;
  font-size: 12px;
  color: #ffca63;
  line-height: 20px;
}
/* share.html */
.txt-share-time {
  width: 55%;
  height: auto;
  top: 34.7%;
  left: 48%;
  font-size: 16px;
  font-weight: 600;
  color: #ffd268;
  line-height: 40px;
  letter-spacing: 3px;
}
.btn-wechat {
  width: 18%;
  height: 12%;
  top: 61%;
  left: 28%
}
.btn-friend {
  width: 18%;
  height: 12%;
  top: 61%;
  left: 55%
}
.btn-weibo {
  width: 18%;
  height: 12%;
  top: 61%;
  left: 68%
}
.btn-back {
  width: 38%;
  height: 8%;
  top: 80%;
  left: 32%;
}
/* prize.html */
.prize {
  background: url(../img/prize_bg.jpg) repeat;
  background-size: cover;
  padding-bottom: 30px;
}
.prize .item {
  display: inline-block;
  width: 90%;
  padding: 0 5% 20px 5%;
  clear: both;
}
.prize .item-img {
  float: left;
  background: url(../img/prize_item_bg.png) no-repeat;
  background-size: contain;
  padding: 3px 11px 11px 3px;
  width: 45.3%;
}
.prize .item-img img {
  border-radius: 15px;
  width: 100%;
}
.prize .item span {
  margin-left: 5%;
  width: 40%;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  float: left;
}
.prize .item .item-name {
  margin: 20px 5%;
}
.item:nth-of-type(2n) .item-img,
.fr {
  float: right !important;
}
/* win.html */
.pos-lucky {
  width: 46%;
  height: 9%;
  left: 30%;
  top: 48%;
  font-size: 12px;
  color: #062058;
  font-weight: 600;
  line-height: 1.5;
  overflow: auto;
}
.pos-lucky p{
  margin-bottom: 20px;
}
.pos-lucky p:nth-last-child(1){
  margin-bottom: 0;
}
.pos-sunlight {
  width: 54%;
  height: 19%;
  left: 30%;
  top: 67%;
  font-size: 12px;
  color: #062058;
  font-weight: 600;
  line-height: 1.5;
  overflow: auto;
}
.pos-sunlight p{
  margin-bottom: 20px;
}
.pos-sunlight p:nth-last-child(1){
  margin-bottom: 0;
}
.pos-remark {
  width: 79%;
  height: 7%;
  left: 11%;
  top: 91%;
  color: #ffca63;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
}
/* expect.html */
.img-star1 {
  width: 12%;
  height: auto;
  top: 44%;
  left: 79%
}
.img-star2 {
  width: 13%;
  height: auto;
  top: 65%;
  left: 10%;
}
.txt-expect-time {
  width: 100%;
  height: auto;
  top: 77.5%;
  left: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffd268;
  line-height: 40px;
  letter-spacing: 3px;
}

.mask,
.mask2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.8) */
}
.mask-content {
  position: relative;
  width: 100%;
  height: auto;
}


.ani {
  -webkit-transform-origin: 50% 50%;
  /*linear,ease,ease-in,ease-in-out,ease-out*/
  animation-timing-function: linear;
  -webkit-animation-name: "music-ani";
  /*动画持续时间*/
  -webkit-animation-duration: 1s;
  /*动画延迟时间*/
  -webkit-animation-delay: 0s;
  /*定义循环资料，infinite为无限次*/
  -webkit-animation-iteration-count: infinite;
  /* forwards 固定在最后一帧| backwards 固定在第一帧*/
  -webkit-animation-fill-mode: forwards;
}
.img-huoguo {
  -webkit-animation-name: "huoguo-ani";
  -webkit-animation-duration: 2.3s;
}
.img-prbg {
  -webkit-animation-name: "prbg-ani";
  -webkit-animation-duration: 1s;
}
.img-thing1 {
  -webkit-transform: translate(150px, 0px);
  transform: translate(150px, 0px);
}
.img-thing1.ani {
  -webkit-animation-name: "thing1-ani";
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}
.img-thing2 {
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: translate(0px, 0px) rotate(-90deg);
  transform: translate(0px, 0px) rotate(-90deg);
}
.img-thing2.ani {
  -webkit-animation-name: "thing2-ani";
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}
.img-thing3 {
  -webkit-transform-origin: 100% 100%;
  -webkit-transform: translate(0px, 0px) rotate(120deg);
  transform: translate(0px, 0px) rotate(120deg);
}
.img-thing3.ani {
  -webkit-animation-name: "thing3-ani";
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}
.img-thing4 {
  -webkit-transform: translate(-150px, 0px);
  transform: translate(-150px, 0px);
}
.img-thing4.ani {
  -webkit-animation-name: "thing4-ani";
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}
.img-star.ani {
  -webkit-animation-name: "star-ani";
  -webkit-animation-duration: 100s;
}
@keyframes music-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes star-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(3600000deg);
    transform: rotate(3600000deg);
  }
}
@keyframes thing3-ani {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(120deg);
    transform: translate(0px, 0px) rotate(120deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes thing2-ani {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(-90deg);
    transform: translate(0px, 0px) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes thing4-ani {
  0% {
    -webkit-transform: translate(-150px, 0px);
    transform: translate(-150px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes thing1-ani {
  0% {
    -webkit-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes prbg-ani {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes huoguo-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}