@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: #383838;
}

.pos-btn {
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 5%;
  padding: 10px 0;
  text-align: center;
  top: 1%;
  left: 0;
}
.pos-btn.share {
  left: 80%;
}

.wrap {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  background: #B2262B;
}
.wrap-color{
  background: #B2262B;
}
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.pos-main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  display: none;
}
.pos {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  /* border:1px solid red; */
}
audio {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1px;
  height: 1px;
  opacity: 0;
}
/* index.html */
.btn-rule {
  width: 12%;
  height: 6%;
  top: 4%;
  left: 83%;
  z-index: 9999;
}
.btn-start {
  width: 56%;
  height: 9%;
  top: 75%;
  left: 22%;
}
.btn-colse {
  width: 9%;
  height: 5%;
  top: 9%;
  left: 76%;
}
.btn-tops {
  width: 39%;
  height: 7%;
  top: 69%;
  left: 49%;
}
.btn-rules {
  width: 41%;
  height: 7%;
  top: 69%;
  left: 8%;
}
.btn-know {
  width: 36%;
  height: 6%;
  top: 68%;
  left: 31%;
}
.btn-1 {
  width: 21%;
  height: 13%;
  top: 31%;
  left: 2%;
}
.btn-2 {
  width: 21%;
  height: 5%;
  top: 33%;
  left: 27%;
}
.btn-3 {
  width: 21%;
  height: 5%;
  top: 34%;
  left: 49%;
}
.btn-4 {
  width: 21%;
  height: 12%;
  top: 32%;
  left: 75%;
}
.btn-5 {
  width: 15%;
  height: 5%;
  top: 38%;
  left: 25%;
}
.btn-6 {
  width: 12%;
  height: 7%;
  top: 44%;
  left: 20%;
}
.btn-7 {
  width: 15%;
  height: 8%;
  top: 41%;
  left: 31%;
}
.btn-8 {
  width: 27%;
  height: 10%;
  top: 38%;
  left: 48%;
}
.btn-9 {
  width: 21%;
  height: 11%;
  top: 43%;
  left: 76%;
}
.btn-10 {
  width: 36%;
  height: 6%;
  top: 68%;
  left: 31%;
}
.img-hand {
  width: 17.3%;
  height: auto;
  top: 43%;
  left: 45%;
}
.know-hand {
  width: 17.3%;
  height: auto;
  top: 36%;
  left: 12%;
  transform: rotate(58deg);
  z-index: 99;
}
.btn-tips {
  width: 36%;
  height: 6%;
  top: 68%;
  left: 32%;
}
.nums {
  width: 60%;
  height: 7%;
  top: 19%;
  left: 20%;
}
.nums span{
  display: inline-block;
  width: 12%;
  height: 100%;
  font-size: 40px;
  color: #4f2724;
}
.nums .num3 {
  margin-left: 4%;
}
.nums .num5 {
  margin-left: 5%;
}
.nums .num6 {
  width: 11%;
}
.nums .num7 {
  width: 10%;
}
.games {
  width: 91%;
  height: 42%;
  top: 28.5%;
  left: 8%;
  overflow: hidden;
}
.games img {
  height: 44%;
  width: 28%;
  margin: 10px 4px;
  position: absolute;
  top: 0;
}
.games img:nth-child(2n) {
  top: 0%;
  left: 31%;
}
.games img:nth-child(3n) {
  top: 0%;
  left: 62%;
}
.games img:nth-child(4n) {
  top: 50%;
  left: 0%;
}
.games img:nth-child(5n) {
  top: 50%;
  left: 31%;
}
.games img:nth-child(6n) {
  top: 50%;
  left: 62%;
}
.games-2 img {
  margin: 10px 5px;
}
.btn-game {
  top: 74%;
  left: 21%;
  width: 58%;
  height: 10%;
}
.btn-source {
  top: 89.5%;
  left: 33%;
  width: 34%;
  height: 3%;
  font-size: 15px;
  color: #dddfda;
  text-align: center;
}
.pos-source {
  width: 100%;
  height: auto;
  top: 25%;
  left: 0;
}
.btn-success {
  width: 36%;
  height: 6%;
  top: 48%;
  left: 32%;
}

.p-rule {
  width: 76%;
  height: 11%;
  top: 80%;
  left: 12%;
  overflow: auto;
  font-size: 16px;
  font-weight: 600;
  color: #a92024;
  line-height: 22px;
  letter-spacing: 6px;
}
.pos-info {
  width: 59%;
  height: 34%;
  top: 31%;
  left: 20%;
  font-size: 20px;
  text-align: center;
}
.info-title {
  display: inline-block;
  width: 100%;
  margin-top: 20%;
}
.info-img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: -5%;
}
.info-desc {
  display: block;
  font-size: 14px;
  width: 90%;
  margin: 0 5%;
  margin-top: -5%;
}
.btn-info-close {
  width: 13%;
  height: 10%;
  top: -3%;
  left: 87%;
}

.mask,
.mask2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.8) */
}
.happy {
  display: none;
}
.mask-bg {
  background: rgba(0, 0, 0, 0.8);
}
.mask-content {
  position: relative;
  width: 100%;
  height: auto;
}
.games-2 {
  display: none;
}
.my-prize {
  width: 58%;
  height: 63%;
  top: 25%;
  left: 21%;
  overflow: auto;
}
.my-prize li{
  background: url(../img/price.png) no-repeat;
  height: 14%;
  background-size: 100% 100%;
  margin-bottom: 7px;
}
.my-prize a{
  display: block;
  width: 100%;
  height: 100%;
}
.my-prize a span{
  color: #fff;
  display: block;
  width: 76%;
  height: 100%;
  font-size: 16px;
  line-height: 65px;
  text-indent: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.mask-award-prize {
  width: 58%;
  height: 32%;
  top: 23%;
  left: 21%;
}
.mask-award-prize img {
  width: 100%;
  height: 100%;
}
.mask-award-txt {
  width: 58%;
  height: 6%;
  top: 59%;
  left: 21%;
  text-align: center;
  font-size: 18px;
}
.pos-phone {
  /* top: 30%;
  height: auto; */
}
.btn-fail-close {
  width: 9%;
  height: 6%;
  top: 15%;
  left: 77%;
}
.btn-fail {
  width: 33%;
  height: 5%;
  top: 65%;
  left: 34%;
}
.btn-award-close {
  width: 9%;
  height: 6%;
  top: 15%;
  left: 77%;
}
.btn-award-my {
  width: 33%;
  height: 5%;
  top: 65%;
  left: 34%;
}
.pos-phone .btn-submit {
  width: 34%;
  height: 5%;
  top: 55%;
  left: 33%;
}
.btn-rule-my {
  width: 33%;
  height: 8%;
  top: 12%;
  left: 55%;
}
.btn-rule-close {
  width: 8%;
  height: 5%;
  top: 3%;
  left: 88%;
}
.btn-my-rule {
  width: 33%;
  height: 8%;
  top: 12%;
  left: 12%;
}
.btn-my-close {
  width: 8%;
  height: 5%;
  top: 3%;
  left: 88%;
}
.btn-btn1 {
  width: 11%;
  height: 5%;
  top: 3%;
  left: 72%;
}
.mute {
  background: url('../img/icon_mute.png') center no-repeat;
}
.btn-btn2 {
  width: 11%;
  height: 5%;
  top: 3%;
  left: 86%;
}
.btn-btn3 {
  width: 42%;
  height: 3%;
  top: 93%;
  left: 29%;
}
.btn-btn4 {
  width: 11%;
  height: 5%;
  top: 91%;
  left: 86%;
}
.btn-add {
  width: 11%;
  height: 5%;
  top: 41%;
  left: 61%;
}
.btn-less {
  width: 11%;
  height: 5%;
  top: 41%;
  left: 78%;
}
.btn-exchange {
  width: 34%;
  height: 8%;
  top: 77%;
  left: 33%;
}
.btn-exchange-close {
  width: 8%;
  height: 5%;
  top: 3%;
  left: 88%;
}
.btn-success-close {
  width: 8%;
  height: 5%;
  top: 28%;
  left: 78%;
}
.txt-exchange {
  width: 8%;
  height: 4%;
  top: 42%;
  left: 71%;
  color: #fff;
  text-align: center;
  line-height: 2;
}
.txt-source {
  width: 100%;
  height: 4%;
  top: 22%;
  left: 0%;
  color: #fff;
  text-align: center;
  line-height: 2;
}
.txt-pay {
  width: 30%;
  height: 4%;
  top: 52%;
  left: 60%;
  color: #fff;
  text-align: center;
  line-height: 2;
  font-size: 18px;
}
.pos-phone .ipt-phone {
  width: 44%;
  height: 5%;
  top: 47%;
  left: 28%;
  text-align: center;
}
.pos-tops {
  width: 75%;
  height: 53%;
  top: 16%;
  left: 13%;
  overflow: auto;
}
.pos-tops .item {
  height: 60px;
  padding: 3px;
  line-height: 60px;
  font-size: 18px;
  border-bottom: 1px solid #dcdcdc;
}
.pos-tops .item .num {
  position: absolute;
  width: 10%;
  text-align: center;
}
.pos-tops .item.one .num {
  background: url('../img/icon_tops1.png') no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
.pos-tops .item.two .num {
  background: url('../img/icon_tops2.png') no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
.pos-tops .item.three .num {
  background: url('../img/icon_tops3.png') no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
.pos-tops .item .ava {
  display: inline-block;
  margin-left: 13%;
  width: 20%;
  height: 60px;
  overflow: hidden;
  float: left;
}
.pos-tops .item.one .ava {
  background: url('../img/icon_1.png') no-repeat center;
  background-size: contain;
}
.pos-tops .item.two .ava {
  background: url('../img/icon_2.png') no-repeat center;
  background-size: contain;
}
.pos-tops .item.three .ava {
  background: url('../img/icon_3.png') no-repeat center;
  background-size: contain;
}
.pos-tops .item.one .ava img,
.pos-tops .item.two .ava img,
.pos-tops .item.three .ava img {
  width: 60%;
  height: auto;
  margin-top: 5%;
  margin-left: 20%;
  border: 0px;
}
/* .pos-tops .item.two .ava img{
  width: 50%;
  height: auto;
  margin-left: 25%;
  border: 0px;
}
.pos-tops .item.three .ava img{
  width: 50%;
  height: auto;
  margin-left: 25%;
  border: 0px;
} */
.pos-tops .item .ava img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #cecece;
}
.pos-tops .item .name {
  display: inline-block;
  padding-left: 2%;
  width: 28%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  float: left;
}
.pos-tops .item .min {
  display: inline-block;
  width: 32%;
  overflow: hidden;
  float: left;
}
.mojs {
  z-index: 88;
}

.ani {
  -webkit-transform-origin: 50% 50%;
  /*linear,ease,ease-in,ease-in-out,ease-out*/
  animation-timing-function: linear;
  -webkit-animation-name: "music-ani";
  /*动画持续时间*/
  -webkit-animation-duration: 1s;
  /*动画延迟时间*/
  -webkit-animation-delay: 0s;
  /*定义循环资料，infinite为无限次*/
  -webkit-animation-iteration-count: infinite;
  /* forwards 固定在最后一帧| backwards 固定在第一帧*/
  -webkit-animation-fill-mode: forwards;
}
.ani-red {
  -webkit-animation-name: "ani-red";
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-iteration-count: 1;
}
.ani-cai1 {
  -webkit-animation-name: "ani-cai";
  -webkit-animation-duration: 0.3s;
  -webkit-animation-delay: 4.2s;
  -webkit-animation-iteration-count: 1;
}
.ani-cai2 {
  -webkit-animation-name: "ani-cai";
  -webkit-animation-duration: 0.3s;
  -webkit-animation-delay: 4s;
  -webkit-animation-iteration-count: 1;
}
.ani-hf {
  -webkit-animation-name: "ani-hf";
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: 1;
}
.ani-dl {
  -webkit-animation-name: "ani-dl";
  -webkit-animation-duration: 1.6s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

.ani-niu {
  -webkit-animation-name: "ani-niu";
  -webkit-animation-duration: 0.8s;
  -webkit-animation-delay: 1.6s;
  -webkit-animation-iteration-count: 1;
}
.ani-niu2 {
  -webkit-animation-name: "ani-niu2";
  -webkit-animation-duration: 0.8s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
}

.happy-1 {
  -webkit-animation-name: "ani-happy-1";
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-iteration-count: infinite;
}

.happy-2 {
  -webkit-animation-name: "ani-happy-2";
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-iteration-count: infinite;
}

.happy-3 {
  -webkit-animation-name: "ani-happy-3";
  -webkit-animation-duration: .9s;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-iteration-count: infinite;
}

.fazhuan {
  transform-style: preserve-3d;
  perspective: 1000;
  transform: rotateY(180deg);
  transition: 0.8s;
}

@keyframes ani-happy-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani-happy-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani-happy-3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani-red {
  0% {
    top: 0;
    -webkit-transform: scale(1);
    transform: rotate(1);
  }
  50% {
    top: -500px;
    -webkit-transform: scale(1.3);
    transform: rotate(1.3);
  }
  100% {
    top: -1000px;
    -webkit-transform: scale(1.8);
    transform: rotate(1.8);
  }
}

/* @keyframes ani-niu {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1) rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */
@keyframes ani-niu {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani-niu2 {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes ani-cai {
  0% {
    top: 0;
    -webkit-transform: scale(1);
    transform: rotate(1);
  }
  100% {
    top: -30px;
    -webkit-transform: scale(1.1);
    transform: rotate(1.1);
  }
}

@keyframes ani-dl {
  0% {
    top: 100%;
    opacity: 0.1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes ani-hf {
  0% {
    top: -100%;
    opacity: 0.1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.img-hand {
  -webkit-animation-name: "hand-ani";
  -webkit-transform-origin: 90% 90%;
  -webkit-animation-duration: 1s;
}

@keyframes hand-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
